{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}主页{% endblock %}
{% block css %}<link href="{% static 'css/index.css' %}" rel="stylesheet"/>{% endblock %}
{% block content %}
    {% if request.session.is_login %}
        <h1 align="center" >What do you want to search?</h1>
        <div align="center">
            <form class='form-search' action="" method="post">

                {% csrf_token %}

                <div class="input-group col-md-3" style="margin-top:90px;positon:relative">
                    {{ jd_search_form.keyword }}
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-search">搜索</button>
                    </span>
                </div>
          </form>
        </div>
    {% else %}
        <h1 align="center">尚未检测到你的登录状态，请先登录！</h1>
    {% endif %}
{% endblock %}