{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}查询{% endblock %}
{% block css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tablestyle.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
        <h1 align="center" >Please enter the keyword query</h1>
        <div align="center">
            <form class='form-search' action="" method="post">

                {% csrf_token %}
                <div class="input-group col-md-3" style="margin-top:90px;positon:relative">
                    {{ jd_search_form.keyword }}
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-search">搜索</button>
                    </span>
                </div>

          </form>
        </div>
{% endblock %}