{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>搜索记录</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tablestyle.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

    <!--引入JavaScript-->
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav" aria-expanded="false">
            <span class="sr-only">切换导航条</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color: #ffbd40; font-weight: bold">JingDong Spider</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="my-nav">

              {% if request.session.is_login %}
                   <ul class="nav navbar-nav">
                       <li><a href="/index/" style="color:#783000">主页</a></li>
                       <li><a href="/searchResult/" style="color:#783000">查询</a></li>
                       <li><a href="/searchRecord/" style="color:#783000">我的记录</a></li>
                       <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #783000">操作<span class="caret"></span></a>
                           <ul class="dropdown-menu">
                               <li><a href="/modify/" style="color: #783000">修改密码</a></li>
                               <li><a href="/logout/" style="color:#783000">退出</a></li>
                           </ul>
                       </li>
                       <li><a href="/download/" style="color:#783000">导出结果</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="#" style="color: white; background: #783000">当前用户：{{ request.session.user_name }}</a></li>
                  </ul>
              {% else %}
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="/admin/" style="color: white; background: black;">管理员</a></li>
                      <li><a href="/login/" style="color: white; background: #783000;">登录</a></li>
                      <li><a href="/register/" style="color: white; background: #f19e1f;">注册</a></li>
                  </ul>
              {% endif %}

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <h3 align="center" style="margin-bottom: 90px">结果列表</h3>
    <div style="width: 1700px; margin: auto; background: white">
        <table id="search_record_table">
        <thead>
            <tr>
                <th width="27%">商品名称</th>
                <th width="10%">商品价格</th>
                <th width="15%">所属店铺</th>
                <th width="8%">评论数</th>
                <th width="10%">关键字</th>
                <th width="20%">链接</th>
                <th width="8%">搜索人</th>
                <th width="18%">创建时间</th>
            </tr>
        </thead>
        <tbody>
            {% for data in assets %}
                 <tr>

                     <td>{{ data.goods_name }}</td>
                     <td>￥{{ data.goods_price }}</td>
                     <td>{{ data.goods_shop }}</td>
                     <td>{{ data.goods_comments }}</td>
                     <td>{{ data.keyword }}</td>
                     <td><a href="{{ data.goods_url }}">{{ data.goods_url }}</a></td>
                     <td>{{ data.goods_searcher }}</td>
                     <td>{{ data.c_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>


    <div style="margin-left: 30%; position: fixed; bottom: 10px">
        <hr width="800px"/>
        <p align="center">Copyright © 2018 浙江财经大学信工学院 | Design by 14计算机2 施国权</p>
    </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready( function () {
            $('#search_record_table').DataTable();
        } );
    </script>
  </body>
</html>